.tabbar
    background $_theme
    bottom 0
    box-sizing border-box
    display flex
    height 80px
    left 0
    padding 0 5px
    position fixed
    width 100%
    .tabbar-item
        display block
        color $_white
        flex 1
        padding 15px 0 10px
        text-align center
        text-decoration none
        .icon
        .label
            display block
        .icon
            $h = 35px
            font-size 35px
            height $h
            line-height $h
        .label
            $h = 20px
            font-size 10px
            height $h
            line-height $h