.button
    $height = 62px
    background $_gray
    border-radius 4px
    box-shadow 0 4px 5px -4px rgba(#000, .5), 0 3px 3px -1px rgba(#000, .12)
    color $_white
    font-size 14px
    height $height
    line-height $height
    text-align center
    text-decoration none
    &-block
        display block
    &-light
        background $_white
        color $_gray