[data-is="news"]
    article
        margin 0 4% 80px
    h2
        color #333
        font-size 18px
        font-weight bold
        line-height 1.5
    .datetime
        border-top 1px dotted  #aaa
        color #333
        display table
        margin 10px auto 35px
        padding-top 12px
    p
        color #444
        line-height 1.6
        margin 0 3% 1.2em